{
  "swagger": "2.0",
  "info": {
    "title": "Prixa User Service API",
    "version": "1.0",
    "contact": {
      "name": "Prixa Tech",
      "url": "https://github.com/prixa-ai/prixa-proto",
      "email": "tech@prixa.com"
    },
    "license": {
      "name": "Prixa License",
      "url": "https://github.com/prixa-ai/prixa-proto/blob/master/LICENSE.txt"
    }
  },
  "host": "engine2.prixa.ai",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v1/change-password": {
      "post": {
        "summary": "Change user password after user logged in.",
        "operationId": "UserService_ChangePassword",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ChangePasswordResponse"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ChangePasswordRequest"
            }
          }
        ],
        "tags": [
          "UserService"
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/history/assessment": {
      "get": {
        "summary": "GetAssessmentHistory gets user assessments history.",
        "operationId": "UserService_GetAssessmentHistory",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetAssessmentHistoryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "tags": [
          "UserService"
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/logout": {
      "get": {
        "summary": "Logout user after user logged in",
        "operationId": "UserService_Logout",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1LogoutResponse"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "tags": [
          "UserService"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/user/consent": {
      "get": {
        "summary": "Get user consent information",
        "operationId": "UserService_Consent",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ConsentResponse"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "tags": [
          "UserService"
        ]
      }
    },
    "/api/v1/user/forget-password": {
      "post": {
        "summary": "Trigger to reset user password due to forgotten password",
        "operationId": "UserService_ForgetPassword",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ForgetPasswordResponse"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ForgetPasswordRequest"
            }
          }
        ],
        "tags": [
          "UserService"
        ]
      },
      "put": {
        "summary": "Update user password upon forget password action",
        "operationId": "UserService_UpdatePassword",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UpdatePasswordResponse"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpdatePasswordRequest"
            }
          }
        ],
        "tags": [
          "UserService"
        ]
      }
    },
    "/api/v1/user/forget-password/{forgetPwdToken}/verify": {
      "post": {
        "summary": "Verify forget password token upon forget password action",
        "operationId": "UserService_ForgetPasswordVerif",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ForgetPasswordVerifResponse"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "forgetPwdToken",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ForgetPasswordVerifRequest"
            }
          }
        ],
        "tags": [
          "UserService"
        ]
      }
    },
    "/api/v1/user/login": {
      "post": {
        "summary": "User login given email and password",
        "operationId": "UserService_Login",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1LoginResponse"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1LoginRequest"
            }
          }
        ],
        "tags": [
          "UserService"
        ]
      }
    },
    "/api/v1/user/oauth/google": {
      "get": {
        "summary": "Get oauth google url",
        "operationId": "UserService_OauthGoogle",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1OauthGoogleURL"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "tags": [
          "UserService"
        ]
      }
    },
    "/api/v1/user/oauth/google/callback": {
      "get": {
        "summary": "Oauth google callback",
        "operationId": "UserService_CallbackOauthGoogle",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1LoginResponse"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "UserService"
        ]
      }
    },
    "/api/v1/user/profile/update": {
      "post": {
        "summary": "UpdateUserInfo updates user info (name, address, contact)",
        "operationId": "UserService_UpdateUserInfo",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UpdateUserInfoResponse"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpdateUserInfoRequest"
            }
          }
        ],
        "tags": [
          "UserService"
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/user/register": {
      "post": {
        "summary": "New user registration",
        "operationId": "UserService_Register",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1RegisterResponse"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1RegisterRequest"
            }
          }
        ],
        "tags": [
          "UserService"
        ]
      }
    },
    "/api/v1/user/register/{registerToken}/verify": {
      "post": {
        "summary": "Verify user registration",
        "operationId": "UserService_VerifyRegister",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1VerifyRegisterResponse"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "registerToken",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1VerifyRegisterRequest"
            }
          }
        ],
        "tags": [
          "UserService"
        ]
      }
    },
    "/api/v1/user/resend-email": {
      "get": {
        "summary": "Resend register email verification",
        "operationId": "UserService_ResendEmailVerification",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ResendEmailVerificationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "tags": [
          "UserService"
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/user/signedurl": {
      "post": {
        "summary": "GetSignedURL gets the sign url to gain access to uploads files on google cloud storage",
        "operationId": "UserService_GetSignedURL",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetSignedURLResponse"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "properties": {}
            }
          }
        ],
        "tags": [
          "UserService"
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/userinfo": {
      "get": {
        "summary": "User info after user logged in.",
        "operationId": "UserService_UserInfo",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UserInfoResponse"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "tags": [
          "UserService"
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "Bearer": []
          }
        ]
      }
    }
  },
  "definitions": {
    "protobufAny": {
      "type": "object",
      "properties": {
        "type_url": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Must be a valid serialized protocol buffer of the above specified type."
        }
      },
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := ptypes.MarshalAny(foo)\n     ...\n     foo := \u0026pb.Foo{}\n     if err := ptypes.UnmarshalAny(any, foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "runtimeError": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v1AssessmentHistory": {
      "type": "object",
      "properties": {
        "date": {
          "type": "string",
          "format": "date-time"
        },
        "chiefComplaint": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "age": {
          "type": "string"
        },
        "gender": {
          "type": "string"
        }
      }
    },
    "v1AuthData": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "passwordConfirmation": {
          "type": "string"
        },
        "diagnosticSessionID": {
          "type": "string"
        }
      }
    },
    "v1ChangePasswordRequest": {
      "type": "object",
      "properties": {
        "password": {
          "type": "string"
        },
        "confirmPassword": {
          "type": "string"
        },
        "oldPassword": {
          "type": "string"
        }
      }
    },
    "v1ChangePasswordResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    },
    "v1ConsentResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "string"
        }
      }
    },
    "v1ForgetPasswordRequest": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "diagnosticSessionID": {
          "type": "string"
        }
      }
    },
    "v1ForgetPasswordResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    },
    "v1ForgetPasswordVerifRequest": {
      "type": "object",
      "properties": {
        "forgetPwdToken": {
          "type": "string"
        }
      }
    },
    "v1ForgetPasswordVerifResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    },
    "v1GetAssessmentHistoryResponse": {
      "type": "object",
      "properties": {
        "assessmentHistory": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1AssessmentHistory"
          }
        }
      }
    },
    "v1GetSignedURLResponse": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "v1LoginRequest": {
      "type": "object",
      "properties": {
        "authData": {
          "$ref": "#/definitions/v1AuthData"
        }
      }
    },
    "v1LoginResponse": {
      "type": "object",
      "properties": {
        "loginToken": {
          "type": "string"
        },
        "personID": {
          "type": "string"
        },
        "sessionID": {
          "type": "string"
        },
        "isVerified": {
          "type": "boolean",
          "format": "boolean"
        }
      }
    },
    "v1LogoutResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    },
    "v1OauthGoogleURL": {
      "type": "object",
      "properties": {
        "authURL": {
          "type": "string"
        }
      }
    },
    "v1ProfileData": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "gender": {
          "type": "string"
        },
        "address": {
          "type": "string"
        },
        "height": {
          "type": "number",
          "format": "float"
        },
        "weight": {
          "type": "number",
          "format": "float"
        },
        "smokingStatus": {
          "type": "boolean",
          "format": "boolean"
        },
        "alcoholStatus": {
          "type": "boolean",
          "format": "boolean"
        },
        "emailVerified": {
          "type": "boolean",
          "format": "boolean"
        },
        "phoneVerified": {
          "type": "boolean",
          "format": "boolean"
        },
        "password": {
          "type": "string"
        },
        "birthdate": {
          "type": "string"
        },
        "avatarURL": {
          "type": "string"
        }
      }
    },
    "v1RegisterRequest": {
      "type": "object",
      "properties": {
        "authData": {
          "$ref": "#/definitions/v1AuthData"
        },
        "profileData": {
          "$ref": "#/definitions/v1ProfileData"
        }
      }
    },
    "v1RegisterResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    },
    "v1ResendEmailVerificationResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    },
    "v1UpdatePasswordRequest": {
      "type": "object",
      "properties": {
        "password": {
          "type": "string"
        },
        "confirmPassword": {
          "type": "string"
        },
        "diagnosticSessionID": {
          "type": "string"
        },
        "forgetPasswordToken": {
          "type": "string"
        }
      }
    },
    "v1UpdatePasswordResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "loginToken": {
          "type": "string"
        },
        "sessionID": {
          "type": "string"
        }
      }
    },
    "v1UpdateUserInfoRequest": {
      "type": "object",
      "properties": {
        "profileData": {
          "$ref": "#/definitions/v1ProfileData"
        }
      }
    },
    "v1UpdateUserInfoResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    },
    "v1UserInfoResponse": {
      "type": "object",
      "properties": {
        "profileData": {
          "$ref": "#/definitions/v1ProfileData"
        },
        "isVerified": {
          "type": "boolean",
          "format": "boolean"
        }
      }
    },
    "v1VerifyRegisterRequest": {
      "type": "object",
      "properties": {
        "registerToken": {
          "type": "string"
        },
        "diagnosticSessionID": {
          "type": "string"
        }
      }
    },
    "v1VerifyRegisterResponse": {
      "type": "object",
      "properties": {
        "loginToken": {
          "type": "string"
        },
        "sessionID": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "name": "X-Prixa-API-Key",
      "in": "header"
    },
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
